footer {
    max-width: 1170px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 10px;
    margin-top: auto;
}

footer p {
    padding-top: 2vh;
    color: white;
    font-size: 0.8em;
    line-height: 1.5em;
}

footer a {
    padding-top: 2vh;
    color: white;
    font-size: 0.8em;
    line-height: 1.5em;
}