/* DT208G TypeScript, Moment 5 - Projekt. Åsa Lindskog sali1502@student.miun.se */

header {
    max-width: 1170px;
    width: 100%;
}

/* Navigatinsmeny */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 6px 1em;
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: white;
}