img {
    width: 100%;
    max-width: 600px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


button {
    background-color: #487272;
    color: rgb(255, 255, 255);
    margin-top: 0.5vh;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 0.8em;
}

