<!-- DT208G TypeScript, Moment 5 - Projekt. Åsa Lindskog sali1502@student.miun.se -->

<!-- Växling mellan bilder vid knapptryck -->
<img [src]="welcomeImage" alt="Bilder från universitetsmiljön">

<div>
    <button (click)="changeImage()">Ändra bild</button>
</div>

<div class="welcome-container">
    <h2>Om universitet</h2>
    <p>Välkommen till Universala Universitetet!<br>
    Universala Univesitetet finns i en lugn och vacker miljö i Lärbo på Gotland.
    Vi har ett stort utbud av kurser och program inom många ämnesområden, med utbildningar både på distans och på campus.
    Du kan välja att följa ett program eller sätta ihop kurser till ett eget unikt kurspaket.
    Väljer du fristånde kurser och vill ta en examen vänligen kontakta studierådgivningen för vägledning om vilka kurser som behöver ingå i ditt kurspaket.<br>
    Välkommen att kontakta studevägledningen på vardagar mellan kl. 9-15.
    Välkommen till oss!
</div>