/* DT208G TypeScript, Moment 5 - Projekt. Åsa Lindskog sali1502@student.miun.se */

/* Inputformulär för filtrering av kurser */
.filter-form {
    background-color: rgb(255, 255, 255);
    margin: 2vh auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding: 2vh 4vw;
    border-radius: 4px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input[type=text] {
    width: 42%;
    padding: 1px;
    border-radius: 4px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.filter-form label {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    line-height: 1em;
}

/* Rullgardinsmeny för filtrering av ämne */
.subject-menu {
    background-color: rgb(255, 255, 255);
    margin: 2vh auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding: 2vh 4vw;
    border-radius: 4px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.subject-menu label {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    line-height: 2em;
}

.loading {
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 1.2em;
    max-width: 700px;
    min-height: 200px;
  }

/* Tabell för utskrift av kurser */
.course-table {
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 4px;
    width: 100%;
}

.course-table tr {
    border-bottom: 1px solid #ddd;
}

.course-table td {
    padding: 1vh 1vw;
    color: #333;
}

p {
    margin-top: 2vh;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    line-height: 1em;
    color: black;
    text-align: left;
}

/* Klickbar rubrik i tabell */
#click:hover {
    cursor: pointer;
    color: #487272;
}

#click:active {
    color: black;
}

a {
    text-decoration: none;
    color: #487272;
}

/* Antal kurser som visas på skärmen jämfört med alla kurser */
.displayedCourses {
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 4px;
    width: 100%;
}

/* Meddelande att kurs lagts till i ramschema */
.notificationMessage {
    background-color: rgb(255, 255, 255);
    margin: 0 auto 0 auto;
    font-size: 0.9em;
    text-align: left;
    max-width: 700px;
    padding-top: 4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 4px;
    width: 100%;
}

/* Knapp för att lägga till kurs */
button {
    background-color: #487272;
    color: rgb(255, 255, 255);
    min-width: 10px;
    margin-top: 0.5vh;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 0.8em;
}

/* MEDIA QUERIES */

/* Kurstabell för liten skärm */
@media only screen and (max-width: 600px) {

    /* Döljer rubrik för kurskod, ämne och kursplan (th) */
    th.code,
    th.subject,
    th.syllabus {
        display: none;
    }

    /* Döljer motsvarande td-celler */
    td:nth-child(1),
    td:nth-child(4),
    td:nth-child(5)  {
        display: none;
    }
}