
<!-- Inputfält för filtrering av kurser -->
<div class="filter-form">
    <label for="filter">Filtrera kurser:</label><br>
    <input type="text" id="filter" [(ngModel)]="inputValue" (input)="filterCourses()">
</div>

<!-- Rullgardinsmeny för val av ämne -->
<div class="subject-menu">
    <label for="subject">Filtrera efter ämne:</label><br>
    <select id="subject" [(ngModel)]="selectedSubject" (change)="filterBySubject()">
        <option value="">Alla ämnen</option>
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
    </select>
</div>

<!-- Informationstext medan kurser laddas -->
<div *ngIf="loading" class="loading">Laddar kurser...</div>

<!-- Errormeddelande om kurser inte laddas eller hittas -->
<div *ngIf="!loading && filteredCourses.length === 0" class="errorMsg"></div>

<!-- Tabell för utskrift och sortering av kurskod, kursnamn, poäng och ämne -->
<table *ngIf="!loading && filteredCourses.length > 0" class="course-table">
    <thead>
        <tr>
            <th id="click" class="code" (click)="sortCode()">Kod</th>
            <th id="click" class="courseName" (click)="sortCourseName()">Kursnamn</th>
            <th id="click" class="points" (click)="sortPoints()">Poäng</th>
            <th id="click" class="subject" (click)="sortSubject()">Ämne</th>
            <th class="syllabus"> Kursplan</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.courseCode}}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus" target="_blank">Kursplan</a>
            </td>
        </tr>
    </tbody>
</table>
